* {
    margin: 0;
    padding: 0;
}

header {
    padding: 22px 28px 32px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    background-color: #fbfbfb;
    max-width: 94.5%;
}

.container {
    width: 990px;
    margin: 0 auto;
}

header .logo{
    position: relative;
    top: 5px;
    margin-right: 0.5rem;
}

.menu ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative; 
    justify-content: space-evenly;
    top: 22px;
    width: max-content;
}

.menu ul li {
    position: relative;
    margin: auto calc(30px / 2);
    width: fit-content;
    left: 0.3rem;
}

.menu ul li a {
    position: relative;
    font-size: 15.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #dc002d;
    text-decoration: none;

}

.menu .selected {
    color: #8a8a8a;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid underline #ededed 5px;
    text-underline-offset: 7px;
    font-weight: 555;
}

.menu .button {
    align-items: center;
    background-color: #D10029;
    border: solid 1px #D10029;
    display: grid;
    color: white;
    font-size: 14.7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    position: relative;
    letter-spacing: 1.2px;
    height: 29px !important;
    width: 110px !important;
    text-align: center;
    text-decoration: none;
    right: 0.3rem;
    top: -0rem;
}

#banner{
    align-items:flex-start;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
}

#banner .imagem_banner{
    width: 593px;
    height: auto;
}

#banner .descricao_banner{
    align-content: center;
    background-color: #D3022B;
    height: 312px;
    color: white;
    padding: 0 2rem;
    text-align: left;
    width: 40%;
}

#banner .descricao_banner h2{
    position: relative;
    left: 1px;
    letter-spacing: 2.6px;
    top:36px;
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    font-weight:lighter;
    font-size: 35.59px;
}

#banner .descricao_banner p{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14.62px;
    line-height: 1.3rem;
    max-width: 293px;
    max-height: 101px;
    top: 40px;
    bottom: 123px;
    left: 0;
    right: 69px;
}

#banner #left{
    position: relative;
    width: 38px;
    height: 38px;
    top: 81px;
    left: -1px;
    background-color: white;
    overflow: hidden;
    padding: 0;
}

#banner #right{
    position: relative;
    width: 38px;
    height: 38px;
    top: 81px;
    right: -10px;
    background-color: white;
}

#banner .descricao_banner svg:hover{
    position: relative;
    width: 40px;
    height: 48px;
    top:90px;
    fill: #95001e !important;
}

#content {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto calc(50px / 3);
    gap: 2rem;
    left: 0.6rem;
    margin: 2.5rem 1rem 2.5rem 1rem;
    top: -0.5rem;
    width: 90%;
}

#content .col{
    max-width: 32.5%;
}

#content h2{
    position: relative;
    color: #262626;
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 1.5px;
    top: -3px;
}

#content p{
    position: relative;
    color:#666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    margin-top: 0.5rem;
    line-height: 1.3rem;
    top: -0.3rem;
}

.btn-saiba-mais {
    position: relative;
    border: 1px solid #dcdcdc;
    color: #dc002d;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    text-decoration: none;
    top: 0.5rem;
    width: 6.5rem;
    text-align: center;
}

.btn-saiba-mais:hover {
    color: #333333;
}

#content i{
    position: relative;
    align-self: center;
    color: white;
    background-color: #e6e6e6;
    border: solid 1px #e6e6e6;
    border-radius: 15%;
    width: 23px;
    height: 19px;
    text-align: center;
    margin: 0 1px 1px 0;
    left:8px;
    top: 0;
    -ms-text-align-last: center;
}

#content i:hover{
    position: relative;
    align-self: center;
    color: white;
    background-color: #e0002e;
    border: solid 1px #e0002e;
    border-radius: 15%;
    width: 23px;
    height: 19px;
    text-align: center;
    margin: 0 1px 1px 0;
    left:8px;
    top: -3px;
}

#content img{
    margin-top: 0.5rem;
}

footer {
    background-color: #e2e2e2;
}

footer .container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    padding: 1.5rem 5rem 1.5rem 2rem;
    margin-bottom: 0.5rem;
}

footer div .col-2{
    max-width: 40%;
    margin-left: 1rem;
    display: flex;
    flex-wrap: nowrap;
}

footer div .col-1{
    max-width: 35%;
}

footer #gapp_footer{
    position: relative;
    width: 74px;
    height: 85px;
    left: -0.4rem;
    top:0rem;
}

footer #localizacao{
    position: relative;
    width: 70px;
    height: 54px;
    display: flex !important;
    position: relative;
    left: -37px;
    top:0rem;
}

footer p{
    position: relative;
    color: #333333;
    font-size: 12px;
    left: 0rem;
    line-height: 1.15rem;
    margin-left: 1.2rem;
    display: inline-block;
    top: 0.5rem;
}

footer small{
    color: #7F7F7F;
    text-align: right;
}

footer .email-gapp{
    color: #DF002B;
}

footer h4{
    color: #D7002B;
    position: relative;
    font-size: 14px;
    text-align: right;
    right: -2.3rem;
}

footer .col-1 p{
    position: relative;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    top: 0.2rem;
    left: 2.7rem;
}